<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/static/tailwind.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>browse</title>
</head>

<body>
    <div class="flex">
        <div id="left_sidebar_info" class="w-1/6 min-h-screen bg-main">
            <div id="input_search">
                <form method="GET" action="/browse">
                    <input type="text" name="query" {{ if .query }} value="{{ .query }}" {{ end }} class="block w-auto mt-4 border mx-auto border-gray-300 rounded-lg text-base">
                </form>
            </div>

            <div id="tag_list" class="w-full border border-gray-300 rounded-lg text-base bg-third">
                <ul>
                    <div class=" bg-fifth w-3/6 mx-auto">
                        {{ range .tagList}}
                        <li>{{ .Text }} {{ .Count }}</li>
                        {{ end }}
                    </div>
                </ul>
            </div>
        </div>

        <div id="center_gallery" class="w-5/6 min-h-screen h-full bg-second">
            <div id="rows_gallery" class="flex grid-cols-3 gap-4 flex-wrap items-center justify-center px-4 py-4">
                {{ range .entries}}
                <a href="/post/entry/{{.}}">
                    <img src="/thumbnail/{{.}}" class="h-auto w-60 min-w-60 rounded-lg" />
                </a>
                </object> {{ end }}
            </div>
        </div>
    </div>
</body>