<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/static/tailwind.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>entry</title>
</head>

<body class="flex bg-main-main">
    <div id="left_sidebar_info" class="min-h-screen bg-second-main rounded-2xl rounded-s-none">
        <form action="/browse" method="get" class="m-2 ">
            <input type="text" name="query" {{ if .searchOptions.Query }} value="{{.searchOptions.Query}}" {{ end }}
                class="w-full mb-0.5 rounded-2xl">

            <div id="input_settings_content" class="mt-1">
                <div class="flex justify-between">
                    <label for="input_settings_sort"></label>
                    <select id="input_settings_sort" name="sort">
                        {{ if eq .searchOptions.Sort "imported" }}
                        <option selected value="imported">imported</option>
                        <option value="created">created</option>
                        <option value="modified">modified</option>
                        {{ else if eq .searchOptions.Sort "created" }}
                        <option value="imported">imported</option>
                        <option selected value="created">created</option>
                        <option value="modified">modified</option>
                        {{ else if eq .searchOptions.Sort "modified" }}
                        <option value="imported">imported</option>
                        <option value="created">created</option>
                        <option selected value="modified">modified</option>
                        {{ else }}
                        <option value="imported">imported</option>
                        <option value="created">created</option>
                        <option value="modified">modified</option>
                        {{ end }}
                    </select>

                    <div class="w-4"></div>

                    <label for="input_settings_order"></label>
                    <select id="input_settings_order" name="order">
                        {{ if eq .searchOptions.Order "descending" }}
                        <option selected value="descending">descending</option>
                        <option value="ascending">ascending</option>
                        {{ else if eq .searchOptions.Order "ascending" }}
                        <option value="descending">descending</option>
                        <option selected value="ascending">ascending</option>
                        {{ else }}
                        <option value="descending">descending</option>
                        <option value="ascending">ascending</option>
                        {{ end }}
                    </select>

                    <button type="submit" name="offset" value="{{ .searchOptions.PageOffset }}"
                        class="ml-1 mr-0 w-full rounded rounded-l-none bg-third-main hover:text-white hover:bg-fifth-main">Search</button>
                </div>
            </div>
        </form>

        {{ if .tagList }}
        <div id="tag_list" class="relative pt-1 pb-1 m-2 w-11/12 rounded-3xl text-base bg-third-main">
            <ul>
                <div class="ml-2 w-3/6 mx-auto">
                    {{ range .tagList}}
                    <li class="">{{ . }}
                    </li>
                    {{ end }}
                </div>
            </ul>
        </div>
        {{ end }}
    </div>

    <div id="gallery" class="flex justify-center items-center mx-auto bg-main-main">
        <img src="/media/{{.media}}">
    </div>

    <div id="right_sidebar_info" class="w-1/6 min-h-screen bg-third-950">
        <div id="timestamps" class="pt-1 pb-1 m-2 rounded-3xl">
            <h3 class="bg-main-400 text-white font-bold text-center">timestamps</h3>
            <div class="text-left text-white bg-main-300 bg-opacity-20">
                <table class="table-auto text-nowrap">
                    <th>Imported:</th>
                    <td>{{ .timestamps.imported}}</td>
                    </tr>
                    <tr>
                        <th>Created:</th>
                        <td>{{ .timestamps.created}}</td>
                    </tr>
                    <tr>
                        <th>Modified:</th>
                        <td>{{ .timestamps.modified}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="hashes" class="pt-1 pb-1 m-2 rounded-3xl border-fourth-50">
            <h3 class="bg-main-400 text-white font-bold text-center">hash</h3>
            <table class="table-fixed text-left text-white bg-main-300 bg-opacity-20">
                <th>md5:</th>
                <td class="break-all">{{ .hashes.md5}}</td>
                </tr>
                <tr>
                    <th>sha1:</th>
                    <td class="break-all">{{ .hashes.sha1}}</td>
                </tr>
                <tr>
                    <th>sha256:</th>
                    <td class="break-all">{{ .hashes.sha256}}</td>
                </tr>
                {{if (ne .hashes.phash "0") }}
                <tr>
                    <th>phash:</th>
                    <td class="break-all">{{ .hashes.phash}}</td>
                </tr>
                {{ end }}
            </table>
        </div>

        {{ if .notes}}
        <div id="note" class="mt-0 mb-auto border border-fourth-50">
            <h3 class="bg-main-400 text-white font-bold text-center">hash</h3>
            <div class="table-fixed text-left text-white bg-main-300 bg-opacity-20">
                {{ .notes }}
            </div>
        </div>
        {{ end }}
    </div>
</body>

</html>