<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/static/tailwind.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>entry</title>
</head>

<body>
    <div class="flex">
        <div id="left_sidebar_info" class="w-1/6 min-h-screen bg-main">
            <div id="input_search">
                <input type="text" id="large-input" class="block w-60 mt-4 border mx-auto border-gray-300 rounded-lg text-base">
            </div>

            <div id="tag_list" class="w-full border border-gray-300 rounded-lg text-base bg-third">
                <ul>
                    <div class=" bg-fifth w-3/6 mx-auto">
                        {{ range .tags}}
                        <li>{{ . }}</li>
                        {{ end }}
                    </div>
                </ul>
            </div>
        </div>

        <div id="gallery" class="w-10/12 min-h-screen bg-second ">
            <img class="h-auto max-w-prose mx-auto " src="/media/{{.media}}">
        </div>

        <div id="right_sidebar_info" class="w-1/6 min-h-screen bg-third">

        </div>

    </div>

</body>

</html>