<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/static/tailwind.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>entry</title>
</head>

<body>
    <div class="flex">
        <div id="left_sidebar_info" class="w-1/6 min-h-screen bg-main">
            <div id="input_search" class="flex">
                <form action="/browse" method="get" class="inline-flex mt-4">
                    <input type="text" name="query" {{ if .searchOptions.Query }} value="{{.searchOptions.Query}}" {{
                        end }} class="w-full mr-1 ml-auto border-gray-300 rounded-3xl text-base">
                    <div id="input_settings_content" class="float-right">
                        <label for="input_settings_sort"></label>
                        <select id="input_settings_sort" name="sort">
                            <option value="imported">imported</option>
                            <option value="created">created</option>
                            <option value="modified">modified</option>

                        </select>
                    </div>
                </form>
            </div>

            <div id="tag_list"
                class="mr-4 w-11/12 border border-hidden border-gray-300 rounded-3xl rounded-s-none text-base bg-third">
                <ul>
                    <div
                        class="ml-0 border border-l-fourth border-l-8 rounded-s-none border-r-transparent w-3/6 mx-auto">
                        {{ range .tagList}}
                        <li>{{ . }}</li>
                        {{ end }}
                    </div>
                </ul>
            </div>
        </div>

        <div id="gallery" class="flex justify-center items-center w-10/12 mx-auto bg-second">
            <img src="/media/{{.media}}">
        </div>

        <div id="right_sidebar_info" class="w-1/6 min-h-screen bg-third">
            <div id="timestamps" class="bottom-0 absolute">
                <table class="table-auto text-nowrap text-left bg-fourth bg-opacity-20">
                    <th>Imported:</th>
                    <td>{{ .timestamps.imported}}</td>
                    </tr>
                    <tr>
                        <th>Created:</th>
                        <td>{{ .timestamps.created}}</td>
                    </tr>
                    <tr>
                        <th>Modified:</th>
                        <td>{{ .timestamps.modified}}</td>
                    </tr>
                </table>
            </div>

            <div id="hashes" class="">
                <table class="table-fixed text-nowrap text-left bg-fourth bg-opacity-20">
                    <th>md5:</th>
                    <td>{{ .hashes.md5}}</td>
                    </tr>
                    <tr>
                        <th>sha1:</th>
                        <td>{{ .hashes.sha1}}</td>
                    </tr>
                    <tr>
                        <th>sha256:</th>
                        <td>{{ .hashes.sha256}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>