<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/tailwind.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>entry</title>
  </head>

  <body>
  <div id=right_sidebar_info class="absolute -right-0 inset-y-0 w-1/6 bg-primary">
    <div class="w-auto">
        <table>
          <tr>
            <th>Date Imported</th>
            <th>Date Modified</th>
            <th>Date Created</th>
          </tr>
          <tr>
            <td>{{.timestamps.imported}}</td>
            <td>{{.timestamps.modified}}</td>
            <td>{{.timestamps.created}}</td>
          </tr>
        </table>
        <table class="absolute bottom-1">
          <tr><th>MD5</th></tr>
					<tr><td>{{.hashes.MD5}}</td></tr>
					<tr><th>SHA1</th></tr>
					<tr><td>{{.hashes.SHA1}}</td></tr>
					<tr><th>SHA256</th></tr>
					<tr><td>{{.hashes.SHA256}}</td></tr>
          <tr>
          </tr>
        </table>
    </div>
  </div>
  <div id=left_sidebar_info class="">
    <div class="absolute ml-2 -left-0 inset-y-0 w-1/6 object-cover text-justify break-all bg-primary">
      <form class="relative ml-2 top-2"> <!-- replace with search function -->
        <label for="search"></label>
        <input type="text" id="search" name="search">
      </form>
      <div id="tags">
        <ul class="list-none w-auto relative top-4 ml-2">
            {{range .tags}}
            <li>{{.}}</li>
            {{end}}
        </ul>
      </div>
  </div>
</div>
	<img class="h-auto max-w-lg mx-auto" src="/media/{{.media}}">
  </body>
</html>
